# Basic Pandas Operations

The DataFrame is conceptually a two-dimensional series object, where there's an index and multiple columns of content, with each column having a label. In fact, the distinction between a column and a row is really only a conceptual distinction. And you can think of the DataFrame itself as simply a two-axes labeled array.

In [3]:
import numpy as np
import pandas as pd

In [14]:
def header(msg):
	#print('-' * 50)
	print('[ ' + msg + ' ]')

In [4]:
#Read text file into a dataframe
filename = 'Fremont_weather.txt'
df = pd.read_csv(filename)
print(df)

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [6]:
# Print first 5 or last 3 rows of df
print(df.head())
print("")
print(df.tail(3))

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58       42           74          22               2.95
1   Feb        61       45           78          26               3.02
2   Mar        65       48           84          25               2.34
3   Apr        67       50           92          28               1.02
4   May        71       53           98          35               0.48

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [15]:
# Get data types, index, columns, values
header("df.dtypes")
print(df.dtypes); print(" ")

header("df.index")
print(df.index); print(" ")

header("df.columns")
print(df.columns); print(" ")

header("df.values")
print(df.values); print(" ")

[ df.dtypes ]
month                 object
avg_high               int64
avg_low                int64
record_high            int64
record_low             int64
avg_precipitation    float64
dtype: object

[ df.index ]
RangeIndex(start=0, stop=12, step=1)

[ df.columns ]
Index(['month', 'avg_high', 'avg_low', 'record_high', 'record_low',
       'avg_precipitation'],
      dtype='object')

[ df.values ]
[['Jan' 58 42 74 22 2.95]
 ['Feb' 61 45 78 26 3.02]
 ['Mar' 65 48 84 25 2.34]
 ['Apr' 67 50 92 28 1.02]
 ['May' 71 53 98 35 0.48]
 ['Jun' 75 56 107 41 0.11]
 ['Jul' 77 58 105 44 0.0]
 ['Aug' 77 59 102 43 0.03]
 ['Sep' 77 57 103 40 0.17]
 ['Oct' 73 54 96 34 0.81]
 ['Nov' 64 48 84 30 1.7]
 ['Dec' 58 42 73 21 2.56]]

In [20]:
# Statistical summary of each column
header("df.describe()")
print("\n", df.describe(), "\n")

[ df.describe() ]

         avg_high    avg_low  record_high  record_low  avg_precipitation
count  12.000000  12.000000    12.000000   12.000000          12.000000
mean   68.583333  51.000000    91.333333   32.416667           1.265833
std     7.366488   6.060303    12.323911    8.240238           1.186396
min    58.000000  42.000000    73.000000   21.000000           0.000000
25%    63.250000  47.250000    82.500000   25.750000           0.155000
50%    69.000000  51.500000    94.000000   32.000000           0.915000
75%    75.500000  56.250000   102.250000   40.250000           2.395000
max    77.000000  59.000000   107.000000   44.000000           3.020000

In [24]:
# Sort records by any column
header("df.sort_values('record_high', ascending=False)")
print ("\n", df.sort_values('record_high', ascending=False), "\n")

[ df.sort_values('record_high', ascending=False) ]

    month  avg_high  avg_low  record_high  record_low  avg_precipitation
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
8    Sep        77       57          103          40               0.17
7    Aug        77       59          102          43               0.03
4    May        71       53           98          35               0.48
9    Oct        73       54           96          34               0.81
3    Apr        67       50           92          28               1.02
2    Mar        65       48           84          25               2.34
10   Nov        64       48           84          30               1.70
1    Feb        61       45           78          26               3.02
0    Jan        58       42           74          22               2.95
11   Dec        58       42           73          21               2.56

## Slicing Operations

In [29]:
# Slicing records
header("Slicing -- df.avg_low")
print(df.avg_low) # index with single column
print(" ")
header("Slicing -- df[avg_low]")
print(df['avg_low'])

[ Slicing -- df.avg_low ]
0     42
1     45
2     48
3     50
4     53
5     56
6     58
7     59
8     57
9     54
10    48
11    42
Name: avg_low, dtype: int64

[ Slicing -- df[avg_low] ]
0     42
1     45
2     48
3     50
4     53
5     56
6     58
7     59
8     57
9     54
10    48
11    42
Name: avg_low, dtype: int64

Note: `df.avg_low` == `df[avg_low]`

In [30]:
header("Slicing -- df[2:4]") # index with single column
print(df[2:4]) # rows 2 to 3

[ Slicing -- df[2:4] ]
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
2   Mar        65       48           84          25               2.34
3   Apr        67       50           92          28               1.02

Note: This will return rows 2 & 3, which is consistent with python indexing notation

In [31]:
header("Slicing -- df.loc[:,['avg_low','avg_high']]")
print(df.loc[:,['avg_low','avg_high']])

[ Slicing -- df.loc[:,['avg_low','avg_high']] ]
    avg_low  avg_high
0        42        58
1        45        61
2        48        65
3        50        67
4        53        71
5        56        75
6        58        77
7        59        77
8        57        77
9        54        73
10       48        64
11       42        58

Multiple columns: `df.loc[from_row:to_row,['column1','column2']]`

In [32]:
header("Slicing scalar value -- df.loc[9,['avg_precipitation']]")
print(df.loc[9,['avg_precipitation']])

[ Slicing scalar value -- df.loc[9,['avg_precipitation']] ]
avg_precipitation    0.81
Name: 9, dtype: object

Here we specify the row number and the column

In [34]:
header("df.iloc[3:5,[0,3]]")# 
print("\n", df.iloc[3:5,[0,3]], "\n")

[ df.iloc[3:5,[0,3]] ]

   month  record_high
3   Apr           92
4   May           98

`df.iloc` allows you to use numerical indicies

## Filtering

In [35]:
header("df[df.avg_precipitation > 1.0]")
print(df[df.avg_precipitation > 1.0])

[ df[df.avg_precipitation > 1.0] ]
   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

Filter on column values. Note the square bracket and dot operator. Inner bracket returns boolean.

In [37]:
header("df[df['month'].isin['Jun','Jul','Aug']]")
print(df[df['month'].isin(['Jun','Jul','Aug'])])

[ df[df['month'].isin['Jun','Jul','Aug']] ]
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
5   Jun        75       56          107          41               0.11
6   Jul        77       58          105          44               0.00
7   Aug        77       59          102          43               0.03

Another way to filter is via `.isin` function. Again uses boolean indexing

## Assignment

In [39]:
# Assignment -- very similar to slicing
header("df.loc[9,['avg_precipitation']] = 101.3")
df.loc[9,['avg_precipitation']] = 101.3
print(df.iloc[9:11])

[ df.loc[9,['avg_precipitation']] = 101.3 ]
   month  avg_high  avg_low  record_high  record_low  avg_precipitation
9    Oct        73       54           96          34              101.3
10   Nov        64       48           84          30                1.7

Assigns specific scalar value to a single cell in the array -- note usage of square brackets.

In [40]:
# NAN assignment
header("df.loc[9,['avg_precipitation']] = np.nan")
df.loc[9,['avg_precipitation']] = np.nan
print(df.iloc[9:11])

[ df.loc[9,['avg_precipitation']] = np.nan ]
   month  avg_high  avg_low  record_high  record_low  avg_precipitation
9    Oct        73       54           96          34                NaN
10   Nov        64       48           84          30                1.7

When python sees `NaN` it will automatically skip that value. Assigning values to `NaN` is a good way to avoid errors

In [41]:
# Assign all rows of `avg_low` to a new value
header("df.loc[:,'avg_low'] = np.array([5] * len(df))")
df.loc[:,'avg_low'] = np.array([5] * len(df))
print(df.head())

[ df.loc[:,'avg_low'] = np.array([5] * len(df)) ]
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58        5           74          22               2.95
1   Feb        61        5           78          26               3.02
2   Mar        65        5           84          25               2.34
3   Apr        67        5           92          28               1.02
4   May        71        5           98          35               0.48

Note: Assignment of `np.array([5] * len(df)) == df.loc[:,'avg_low'] = 5`. The `[5]` is an array of a single value then it is replicated to length `len(df)`.

In [49]:
# Create new column that averages two other columns
header("df['avg_day'] = (df.avg_low + df.avg_high) / 2")
df['avg_day'] = (df.avg_low + df.avg_high) / 2
print(df.head())

[ df['avg_day'] = (df.avg_low + df.avg_high) / 2 ]
  month  avg_high  avg_low  record_high  record_low  avg_precipitation  \
0   Jan        58        5           74          22               2.95
1   Feb        61        5           78          26               3.02
2   Mar        65        5           84          25               2.34
3   Apr        67        5           92          28               1.02
4   May        71        5           98          35               0.48

   avg_day
0     31.5
1     33.0
2     35.0
3     36.0
4     38.0

## Renaming Columns

In [51]:
# Rename a single column
header("df.rename(columns = {'avg_precipitation':'avg_rain'}, inplace=True)")
df.rename(columns = {'avg_precipitation':'avg_rain'}, inplace=True)
print(df.head())

[ df.rename(columns = {'avg_precipitation':'avg_rain'}, inplace=True) ]
  month  avg_high  avg_low  record_high  record_low  avg_rain  avg_day
0   Jan        58        5           74          22      2.95     31.5
1   Feb        61        5           78          26      3.02     33.0
2   Mar        65        5           84          25      2.34     35.0
3   Apr        67        5           92          28      1.02     36.0
4   May        71        5           98          35      0.48     38.0

Note: Either use `inplace=True`, or set `df = df.rename...` to make sure the changes are saved.

In [52]:
# Change all column names
header("df.columns = ['month','av_hi','av_lo','rec_hi','rec_lo','av_rain','av_day']")
df.columns = ['month','av_hi','av_lo','rec_hi','rec_lo','av_rain','av_day']
print(df.head())

[ df.columns = ['month','av_hi','av_lo','rec_hi','rec_lo','av_rain','av_day'] ]
  month  av_hi  av_lo  rec_hi  rec_lo  av_rain  av_day
0   Jan     58      5      74      22     2.95    31.5
1   Feb     61      5      78      26     3.02    33.0
2   Mar     65      5      84      25     2.34    35.0
3   Apr     67      5      92      28     1.02    36.0
4   May     71      5      98      35     0.48    38.0

## Iterate a DF

In [54]:
# Reload text file into dataframe
filename = 'Fremont_weather.txt'
df = pd.read_csv(filename)
print(df)

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [58]:
# Iterate a df
header("iterate rows of df with a for loop")
print("\n")
for index, row in df.iterrows():
    print (index, row["month"], row["avg_high"])

[ iterate rows of df with a for loop ]


0 Jan 58
1 Feb 61
2 Mar 65
3 Apr 67
4 May 71
5 Jun 75
6 Jul 77
7 Aug 77
8 Sep 77
9 Oct 73
10 Nov 64
11 Dec 58

Shouldnt need to use this very often, better to use built-in functions.

## Write to CSV

In [59]:
# write to csv file
df.to_csv('foo.csv')